@font-face {
	font-family: 'Iosevka Web';
	font-weight: 400;
	font-style: normal;
	src: url('woff2/iosevka-regular.woff2') format('woff2'), url('iosevka-regular.woff') format('woff'), url('iosevka-regular.ttf') format('truetype');
}